/*
cajas
margin
background-color
background-image
padding
border
content
*/

/*h1, div, p, a {
	background: #FF0000;
}*/

div {
	background: #FF0000;
	width: 400px;
	/*height: 300px;*/
	/*Margen externo: alto ancho*/
	margin: 20px 50px;
	/*Margen interno*/
	padding: 30px;
	/*Margen*/
	border: 10px solid #000000;
	display: inline-block;
}	

#cosa{
	background-color: blue;
}